.navContainer {
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    position: fixed; /* Fija el navbar en su lugar */
    top: 0; /* Lo coloca en la parte superior de la pantalla */
    left:0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-left: none; /* Eliminar el borde izquierdo */
  }
  
  .navBrand {
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .navLinks {
    /* display: flex; */
    margin-top: 20px;
    margin-left: 60px;
  }
  
  .navLinks a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 50px;
    transition: color 0.3s ease; /* Transición suave del color */
  }
  
  .navLinks a:hover {
    color: #ffcc00; 
    text-decoration: none;
  }


.navLinks a.active {
    color: #ffcc00; /* Color activo */
    text-decoration: none;
}

.navActions {
  display: flex;
  align-items: center;
}

.contenedorReset {
  margin-left: 260px; /* Mueve el botón todo lo posible a la derecha */
  margin-right: 20px; /* Agrega un margen a la derecha del botón para separarlo de los enlaces de navegación */
}
.resetButton {
  background-color: #fff; /* Color de fondo del botón (ajusta según sea necesario) */
  color: #333; /* Color del texto del botón (ajusta según sea necesario) */
  padding: 8px 16px; /* Ajusta el relleno del botón según sea necesario */
  border: none; /* Elimina el borde del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  border-radius: 4px; /* Ajusta el radio de la esquina del botón según sea necesario */
}