.detailContainer {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d3ffea;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 60px; /* Espacio adicional en la parte superior */
}

.detailTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.detailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em; /* Tamaño de fuente más grande para el nombre */
    font-weight: bold; /* Texto en negrita */
   
    font-family: Tahoma;
    margin-top: 10px; /* Añadir margen superior */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombra de texto */
    background: linear-gradient(to right, #53a657, #7dd56f); /* Gradiente de verde */
    /*-webkit-text-fill-color: transparent; /* Color de texto transparente para aplicar gradiente */

    color: #e2f1ed; /* Color de texto verde oscuro */
}
.detailContent h3 {
    font-family: fantasy;
    font-size: 2.0em;
}

.detailImage {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.detailTypes {
    margin-bottom: 10px;
}

.detailTypes p {
    margin: 5px 0;
}

.detailLoading {
    text-align: center;
    font-style: italic;
}