/* body {
  background-color: #fcf9f9; 
} */

.landingTitle {
  font-family: 'Roboto', sans-serif; /* Cambiar la fuente del título */
  font-size: 48px; /* Aumentar el tamaño del título */
  color: #333; /* Cambiar el color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añadir una sombra de texto */
}

.landingButton {
  height: 50px;
  width: 200px; /* Aumentar el ancho del botón */
  padding: 10px 20px;
  border-radius: 25px; /* Agregar bordes redondeados */
  background-color: #6ea865; /* Cambiar el color de fondo del botón */
  color: #fff; /* Cambiar el color del texto del botón */
  font-size: 20px; /* Aumentar el tamaño del texto del botón */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Añadir una sombra de texto */
}

.landingButton:hover {
  background-color: #72c765; /* Cambiar el color de fondo al pasar el cursor */
  transform: scale(1.05); /* Aumentar el tamaño del botón al pasar el cursor */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Añadir una sombra al botón al pasar el cursor */
}